<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<!-- <appender name="fileAppender" class="org.apache.log4j.FileAppender"> -->
	<appender name="fileAppender"
		class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="INFO" />
		<param name="File" value="Test_Reports\\CountryData.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="%d %-5p [%c{1}] %m %n" /> -->
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
		<param name="MaxFileSize" value="10MB" />
		<!-- <param name = "MaxBackupIndex" value = "10" /> -->
	</appender>
	<!-- <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender"> -->
	<appender name="ConsoleAppender"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="%d %-5p [%c{1}] %m %n" /> -->
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="fileAppender" />
	</root>
	<root>
		<level value="INFO" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4j:configuration>